.qnbox {
  background-color: #f5f5f5;
  margin-top: 15px;
}
.anslist {
  padding-left: 30px;
  font-size: 1.1em;
  line-height: 1.5em;
}
.qntxtbox {
  padding: 5px;
  background-color: #d46161;

  font-size: 1.2em;
}
@media (min-width: 576px) {
  .cbox {
    margin-left: 0px;
  }
}

@media (min-width: 576px) {
  .container {
    width: 576px;
    max-width: 100%;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    max-width: 100%;
  }
}

@media (min-width: 980px) {
  .container {
    width: 980px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    max-width: 100%;
  }
}

.answerDiv {
  margin-bottom: 2px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 7px;
  border-radius: 5px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

#studentNickname {
  &::placeholder {
  color: ghostwhite;
  
}
  
  background: rgb(2, 1, 1);
  
  display: block;
  
    width: 50%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center;
    padding: 10px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.8s;
    
    &:focus {
      &::placeholder {
        color: gray;
      }
        background: darken(rgba(255, 255, 255, 0.952), 3%);
        color: rgb(0, 0, 0);
        border-radius: 50px;
        width: 70%;
        transition: 0.5s ease;
    }
}